<!-- GDPR MODAL -->
<div id="gdpr-modal" style="display: none; background-color: #000000; color: #FFFFFF; padding: 0.5em 2em 1em; text-align: center; line-height: 1.5; font-size: smaller; z-index: 10; position: sticky; bottom: 0px;">
    <div style="max-width: 1200px; margin: 0 auto;">
        <p style="
        margin: .5em 0 0 0;
        font-size: 17px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;">
        Our privacy and cookie policy is available on <a href="/privacy" style="color: #7A81FF;">our privacy policy page</a>. You can change your cookie settings at any time as described <a href="/privacy" style="color: #7A81FF;">in our privacy policy</a>.</p>
        <a id="gdpr-button" style="
            cursor: pointer;
            display: inline-block;
            margin-top: .5em;
            color: #0D0D0D;
            font-size: 16px;
            line-height: 1;
            font-weight: 500;
            border-radius: 6px!important;
            padding: 12px 40px 12px;
            background-color: #a0a0a0;
            text-decoration: none;
            border: none;
            box-shadow: 0 0 0 #fff!important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        " class="button" tabindex="0" onclick="acceptGDPR()">Continue</a>
    </div>
</div>
<script>
  // Compliance dialog
  function acceptGDPR() {
    localStorage.setItem('gdpr_accepted', true);
    window.location.reload();
  };

  (function() {
    if(!localStorage.getItem('gdpr_accepted')) {
      const e = document.getElementById('gdpr-modal');
      if(!e) return;

      e.style.display = 'block';
    }
  })();
</script>
